<%- include('header') %>

<div>
  <div class="mx-auto max-w-7xl px-4">
    <div class="flex flex-col space-y-8 pb-10 pt-12 md:pt-24">
      <!-- <div class="max-w-max rounded-full border bg-gray-50 p-1 px-3">
        <p class="text-xs font-semibold leading-normal md:text-sm">
          About the company
        </p>
      </div> -->
      <p class="text-3xl font-bold text-gray-900 md:text-5xl md:leading-10">
        Hey <%= user.username %>!
      </p>
      <p class="max-w-4xl text-base text-gray-600 md:text-xl">
        👋 Welcome! Your journey begins here. Explore your dashboard and enjoy the ride.
      </p>
    </div>
  </div>
</div>


<%- include('footer') %>